@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: #a8a8a8;
  margin-right: 1rem;
}
